In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
from sklearn.cluster import KMeans
import tiktoken
import openai

In [2]:
DATA = r"./excel_files/clustering_based_prompt_questions.csv"
df = pd.read_csv(DATA)

In [4]:
df
#we can remove 2 questions to make it 8 shot, since that is what most papers seem to use

                                            question
0  Hasan is packing up his apartment because he’s...
1  A curry house sells curries that have varying ...
2  Five coworkers were talking during the lunch b...
3  James decides to use tannerite to blow things ...
4  Ellie went to visit a circus with Sarah and th...
5  Alec is running for Class President. He thinks...
6  Tina is working on her homework when she reali...
7  Sam works at the Widget Factory, assembling Wi...
8  A man is trying to maximize the amount of mone...
9  On Saturday morning, Renata had $10 to spend. ...

In [18]:
from pprint import pprint as pp

In [23]:
pp(df.question[4])

('Ellie went to visit a circus with Sarah and they both got lost in the house '
 'of mirrors. They have to travel through the house of mirrors a few times '
 'before they finally get out and when they leave, they discuss how many times '
 "they've seen their own reflections. Sarah says that every time they were in "
 'the room with tall mirrors, she saw her reflection 10 times and every time '
 'they were in the room with wide mirrors, she saw her reflection 5 times. '
 'Ellie says that every time they were in the room with tall mirrors, she saw '
 'her reflection 6 times and every time they were in the room with wide '
 'mirrors she saw her reflection 3 times. They both passed through the room '
 'with tall mirrors 3 times each and they both passed through the room with '
 'wide mirrors 5 times each. In total, how many times did Sarah and Ellie see '
 'their reflections?')