In [1]:
import numpy as np
import pandas as pd

In [2]:
RESULT = r"C:\Users\kaush\Desktop\fuck_you_chatPAL\pal\eval_results\26-04-2023_211344_kaush_gsmr_with_subquestions_bastard_self_eval.chat.jsonl"

In [3]:
results = pd.read_json(RESULT, lines=True)

In [6]:
results

,input,target,prev_answer,prev_score,prev_generation,prev_code_error,subquestions,answer,answer_post_logic_check,answer_post_sq_check,score,generation,code_error,type_error
0,Question: Gloria is shoe shopping when she com...,104,NaN,0,"[```\ndef solution():\n """"""Gloria is shoe s...","cannot assign to operator (<string>, line 13)",[How much do the two pairs of high heels cost ...,142.0,142,96.5,0,[Let's use pure math to solve the question ste...,,
1,Question: Marilyn's first record sold 10 times...,8000,NaN,0,[We can solve this problem using algebra. Let'...,"invalid syntax (<string>, line 2)","[How many copies did Marilyn sell?, What is th...",8000.0,,,1,[Let's use either python or pure math equation...,"invalid syntax (<string>, line 1)",
2,"Question: Emily has 4 kids named Amy, Jackson,...",4,NaN,0,[We can use algebra to solve this problem. Let...,"invalid syntax (<string>, line 1)","[How old is Corey?, How old is Amy?, How old i...",4.0,4,8,1,[Let's use either python or pure math equation...,,
3,Question: Jerome had 4 friends who came to vis...,175,NaN,0,[We can solve this problem using Python as fol...,local variable 'friend4' referenced before ass...,[How many times did the second friend press th...,171.0,179.0,179.0,0,[Let's use either python or pure math equation...,,
4,Question: Frankie watches TV after he finishes...,3,NaN,0,[We can solve this problem by using algebra. L...,No module named 'sympy',[How many hours of TV did Frankie watch on Mon...,3.0,2.0,2.0,1,[Let's use either python or pure math equation...,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,Question: A cup of mushrooms weighs 100 grams ...,42,42.0,1,"[```\ndef solution():\n """"""A cup of mushroo...",None,[How many cups of mushrooms does John eat per ...,42.0,42,42,1,[```\ndef solution():\n # How many cups of ...,,
290,"Question: While working at the restaurant, eac...",1520,1520.0,1,"[```\ndef solution():\n """"""While working at...",None,"[How much money did Rafaela receive in tips?, ...",1520.0,,1520,1,[Let's use either python or pure math equation...,,
291,Question: John rents his car out 10 times a mo...,250,250.0,1,"[```\ndef solution():\n """"""John rents his c...",None,[How much money does John make from renting ou...,250.0,3000,3000,1,[Let's use either python or pure math equation...,,
292,Question: Frankie and Binkie went bowling toge...,195,195.0,1,"[```\ndef solution():\n """"""Frankie and Bink...",None,"[How much higher than 90 was Frankie's score?,...",195.0,195,195,1,[Let's use either python or pure math equation...,,
293,Question: My kitchen floor has a total area of...,2400,2400.0,1,"[```\ndef solution():\n """"""My kitchen floor...",None,[How many square tiles do I need to cover the ...,2400.0,2400.0,2400.0,1,[The question above uses Python and answers ea...,,

In [12]:
results[results.answer == results.target].score.value_counts()[1]/len(results)

0.5476190476190477

In [13]:
results.columns

Index(['input', 'target', 'prev_answer', 'prev_score', 'prev_generation',
       'prev_code_error', 'subquestions', 'answer', 'answer_post_logic_check',
       'answer_post_sq_check', 'score', 'generation', 'code_error',
       'type_error'],
      dtype='object')

In [14]:
results[results.answer_post_logic_check == results.target].score.value_counts()[1]/len(results)

0.48639455782312924

In [15]:
results[results.answer_post_sq_check == results.target].score.value_counts()[1]/len(results)

0.47278911564625853

In [21]:
results["eval1"] = (results.answer == results.target)

In [22]:
results["eval2"] = (results.answer_post_logic_check == results.target)

In [23]:
results["eval3"] = (results.answer_post_sq_check == results.target)

In [26]:
results.eval1 = results.eval1.astype(int)
results.eval2 = results.eval2.astype(int)
results.eval3 = results.eval3.astype(int)

In [32]:
len(results[ (results.eval1 == 0 ) & (results.eval3 == 1)])

7

In [33]:
len(results[ (results.eval1 == 0 ) & (results.eval2 == 1)])

4