In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
results2 = pd.read_json(r"C:\Users\kaush\Desktop\fuck_you_chatPAL\pal\eval_results\gsm_complex_prompt_baseline_acc83.02.chat.jsonl",lines=True)

In [5]:
df = results2

In [7]:
errors = df[df["score"] == 0]

In [13]:
errors = errors.drop(columns=["score", "type_error"])

In [15]:
errors = errors.reset_index(drop=True)
errors

,input,target,answer,generation
0,Josh decides to try flipping a house. He buys...,70000,120000.0,The increase in value of the house is 150% of ...
1,Kylar went to the store to buy glasses for his...,64,16.0,"Kylar wants to buy 16 glasses, so he will pay ..."
2,Carla is downloading a 200 GB file. Normally s...,160,100.0,"Carla can download 2 GB/minute, so it would no..."
3,John drives for 3 hours at a speed of 60 mph a...,45,465.0,"In the first 3 hours, John drives 3*60 = 180 m..."
4,Carlos is planting a lemon tree. The tree will...,13,12.0,"Each year, Carlos earns 7 lemons x $1.5 per le..."
...,...,...,...,...
219,Every day Charisma meditates for 15 minutes wh...,34,23.5,Charisma meditates twice a day for a total of ...
220,Nate's dog can dig six holes a day. He digs fo...,4,6.0,"Nate's dog digs 6 holes a day for 14 days, so ..."
221,The girls are trying to raise money for a carn...,2280,2180.0,Alexandra raised $430.\nKim raised $320 more t...
222,Tom's restaurant gets 6 reservations a night. ...,180,360.0,"Tom's restaurant gets 6 reservations a night, ..."
223,John had a son James when he was 19. James is...,8,22.0,"If James is twice as old as Dora, and Dora wil..."

In [16]:
errors.to_excel("./complex_prompt_error_labeler.xlsx", index=False)